@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("../public/fonts/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("../public/fonts/Poppins-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("../public/fonts/Poppins-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "GolosText";
    font-weight: 400;
    src: url("../public/fonts/GolosText-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "GolosText";
    font-weight: 500;
    src: url("../public/fonts/GolosText-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "GolosText";
    font-weight: 700;
    src: url("../public/fonts/GolosText-Bold.ttf");
    font-display: swap;
}


